div.box {
  background: #ddd;
  height: 800px;
  width: 400px;
  padding:10px;
}

div.div1 {
  background: #FF9;
  height: 25px;
  width: 77%;
  float:left;
  padding-left: 20px;
      padding-top: 3px
  
}

div.div2 {
  background: #FF9;
  height: 100%;
  width: 55%;
  float:right;
}

div.clear {
  clear: both;
  height: 15px;
  overflow: hidden;
  font-size: 0pt;
  margin-top: -1px;
}

h2 {
    background: #999;
    
}

button {
    float:right;
    position: relative;
}

