<head>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<div>
<h2 >Bloc chat</h2>
<div ><h4>{{home.activeRoom.name}}</h4></div>
</div>

<div class="box pull-left">
    <div>
        <div ng-repeat="room in home.rooms" ng-click="home.activateRoom(room);">{{room.name}}<br></div>
    </div>
    <button  ng-click="home.addRoom()" class="btn btn-primary btn-blk">Add New Room</button>
    
</div>

<div >

    <div class="div1" ng-repeat="message in home.messages"> {{message.username}}: <b> {{message.content}}</b> ({{message.sentAt}}) <div>
 
</div>

